name: Build & Deploy React App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3️ Install dependencies
      - name: Install dependencies
        working-directory: ./web   # <-- React app folder
        run: npm install

      # 4️ Build app
      - name: Build app
        working-directory: ./web   # <-- same folder
        run: npm run build

      # 5️ Deploy to server
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 172.17.0.1
          username: abhi
          key: AAAAC3NzaC1lZDI1NTE5AAAAIL7ug3wXYk3eWq0CBFP7Sr4a1v8H4YdR/aApNkCh0s9S 
          port: 22
          script: |
            echo "Deploying React app..."
            rm -rf /var/www/myapp/*
            cp -r ./web/dist/* /var/www/myapp/
            sudo systemctl restart nginx
