name: Build & Commit Web Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        working-directory: web
        run: npm install

      - name: Build project
        working-directory: web
        run: npm run build

      - name: Commit build file
        run: |
          git config user.name "abhi1506"
          git config user.email "abhisheksingh200515@gmail.com"

          BUILD_DIR="web/build"

          if [ -d "$BUILD_DIR" ]; then
            echo "Build folder found — committing..."

            git add -f "$BUILD_DIR"
            git diff --cached --quiet || git commit -m "chore: update build [skip ci]"
            git push "https://x-access-token:${GITHUB_TOKEN}@github.com/abhi1506/ambispine.git" HEAD:main
          else
            echo "❌ Build folder not found — stopping"
            exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
